@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.Counter-container{
    font-family: "Kdam Thmor Pro", sans-serif;
    text-align: center;
    background-color: rgb(103, 103, 103);
    color: aliceblue;
    padding: 1rem;
}